.gradientBackground {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -50;
  background-color: white;
}

.descriptionText {
  font-family: 'Raleway', sans-serif;
  font-size: 1.7em;
  width: 100%;
  text-align: center;
  line-height: 1.2em;
  transition: font-size 0.7s;
}

.descriptionBox {
  height: auto;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 180px;
  padding-bottom: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: rgba(85, 83, 89, 0.25);
  overflow-x: hidden;
  overflow-y: auto;
  transition: padding-top 0.5s;
}

#ss-logo {
  width: 200px;
  height: 200px;
  transition: width 0.3s, height 0.3s, filter 1s;
}

#ss-waves {
  filter: blur(5px);
  background-color: white;
  transition: filter 1s;
}

#bigTextBrandName {
  padding-top: 0px;
  color:black;
  white-space: nowrap;
}

.mainCenter_logo {
  margin: 0;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -36%);
}

@media only screen and (max-width: 1099px) {
  .descriptionBox {
    padding-top: 120px;
  }

  .descriptionText {
    font-size: 1em;
    line-height: 1.2em;
  }

  .mainCenter_logo {
    top: 55%;
    transform: translate(-50%, -55%);
  }

  #bigTextBrandName {
    white-space: normal;
  }
}
