/* cyrillic */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 200;
  src: local('Yanone Kaffeesatz ExtraLight'), local('./assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-ExtraLight'), url(https://fonts.gstatic.com/s/yanonekaffeesatz/v9/3y9-6aknfjLm_3lMKjiMgmUUYBs04YfUPv-uPNO0NQ.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 200;
  src: local('Yanone Kaffeesatz ExtraLight'), local('./assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-ExtraLight'), url(https://fonts.gstatic.com/s/yanonekaffeesatz/v9/3y9-6aknfjLm_3lMKjiMgmUUYBs04YfUPv-lPNO0NQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 200;
  src: local('Yanone Kaffeesatz ExtraLight'), local('./assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-ExtraLight'), url(https://fonts.gstatic.com/s/yanonekaffeesatz/v9/3y9-6aknfjLm_3lMKjiMgmUUYBs04YfUPv-kPNO0NQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 200;
  src: local('Yanone Kaffeesatz ExtraLight'), local('./assets/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-ExtraLight'), url(https://fonts.gstatic.com/s/yanonekaffeesatz/v9/3y9-6aknfjLm_3lMKjiMgmUUYBs04YfUPv-qPNM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech Mono'), local('./assets/fonts/Share_Tech_Mono/ShareTechMono-Regular'), url(https://fonts.gstatic.com/s/sharetechmono/v7/J7aHnp1uDWRBEqV98dVQztYldFcLowEF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body, html {
  background-color: #1a1a1a;
  overflow-y: auto;
}

.topBar {
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-bottom: 10px;
	box-shadow: 5px 10px 28px rgba(0, 0, 0, 0.35);
}

#statState {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 55px;
  font-size: 3em;
}

#statInfoMsg {
  color: white;
  font-size: 1.9em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#statInfoMsg_copy {
  color: white;
  font-size: 26px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
}

#statClear {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-weight: bold;
  background-color: #e5e6e5;
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 13px;
  padding: 9px 23px;
  text-decoration: none;
  position: relative;
  margin-top: 0px;
}

#statClear:hover {
  color: black;
  background-color: #c8c9cb;
}

#statClear:active {
  background-color: #a9a9aa;
}

.statDataHistory {
  word-wrap: break-word;
  margin-right: 10px;
  -webkit-user-select: text;
  -webkit-user-drag: text;
  -webkit-app-region: drag;
  cursor: text;
  background-color: black;
  color: white;
  margin-bottom: 20px;
  border-style: outset;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Share Tech Mono', monospace;
}

.counter {
  font-family: 'BenchNine', sans-serif;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h4 {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
}
